.fullsizePlayingView {
  position: fixed;
  z-index: 60;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: #ddd;
  background: #333 url(../images/repeated/flow.jpg) center repeat;
  &:before {
    content: '';
    position: absolute;
    height: 80px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    opacity: 0.6;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0.45) 46%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.63)), color-stop(46%, rgba(0, 0, 0, 0.45)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0.45) 46%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0.45) 46%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0.45) 46%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0.45) 46%, rgba(0, 0, 0, 0) 100%);
  }
  &:after {
    content: '';
    position: absolute;
    height: 150px;
    opacity: 0.7;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 54%, rgba(0, 0, 0, 0.63) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(54%, rgba(0, 0, 0, 0.45)), color-stop(100%, rgba(0, 0, 0, 0.63)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 54%, rgba(0, 0, 0, 0.63) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 54%, rgba(0, 0, 0, 0.63) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 54%, rgba(0, 0, 0, 0.63) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 54%, rgba(0, 0, 0, 0.63) 100%);
  }
  .fullsizeImage {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    .layer {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      background-size: cover;
      background-position: center 20%;
      background-repeat: no-repeat;
      transition: opacity 0.5s, visibility 0.5s;
      opacity: 0;
      visibility: hidden;
      &.active {
        opacity: 1;
        visibility: visible;
      }
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        content: '';
        background: url(../images/overlay_b.png) center repeat;
      }
    }
  }
  .container {
    width: 1240px;
    margin: auto;
    position: relative;
    z-index: 2;
    h2 {
      position: absolute;
      left: 50%;
      margin-left: -600px;
      font-size: 13px;
      top: 4px;
      z-index: 80;
      font-weight: 300;
    }
    .paddingLoader {
      text-align: center;
      width: 100%;
      height: 130px;
      position: relative;
    }
  }
}
.radioBody {
  .layout > header {
    z-index: 70;
    position: fixed;
    width: 860px;
    background-color: transparent;
    box-shadow: none;
  }
  .leftPanel {
    z-index: 70;
    left: 50%;
    width: 1000px;
    margin-left: -500px;
    top: 60px;
    box-shadow: none;
    color: #ddd;
    position: absolute;
    bottom: 60px;
    > .playlistFull {
      display: none;
    }
    .controlPanel {
      position: absolute;
      bottom: 0;
      top: 0;
      right: 0;
      left: 0;
      height: auto;
      background-color: transparent;
      .trackInfo {
        text-shadow: 0px 0px 3px #222;
        font-weight: 300;
        top: 50%;
        margin-top: -156px;
        .separator {
          display: none;
        }
        .artist {
          font-size: 24px;
          font-weight: 300;
          margin-bottom: 4px;
        }
        .title {
          font-size: 37px;
        }
      }
      .buttons {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: -20px;
        .btn {
          opacity: 1;
          box-shadow: none;
          width: auto;
          height: auto;
          i {
            color: #ddd;
            font-size: 22px;
          }
          &:hover {
            i {
              color: #fff;
            }
          }
          &.play, &.pause {
            margin: 0 10px;
            width: 50px;
            i {
              font-size: 38px;
            }
          }
        }
      }
      .fake {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 2px;
        .progressLine {
          background-color: rgba(255, 255, 255, 0.9);
          border-radius: 2px;
        }
        .download {
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 2px;
        }
      }
      .volumePanel {
        top: auto;
        bottom: 0px;
        width: 160px;
        right: 0px;
        .fake {
          .progressLine {}
        }
        .current {
          font-size: 11px;
          color: #888;
          top: -16px;
          &.muted {
            color: #f00;
            text-decoration: line-through;
          }
        }
      }
      .progressPanel {
        top: auto;
        bottom: 0px;
        left: 0px;
        right: 200px;
        width: auto;
        .times {
          .total, .current {
            opacity: 1;
            visibility: visible;
            top: -16px;
            color: #888;
            font-size: 11px;
          }
          .total {
            right: 0px;
          }
          .current {
            left: 0px;
          }
        }
        .minutesScaler {
          .scale {
            top: 5px;
            bottom: 5px;
            background-color: rgba(155, 155, 155, 0.5);
            width: 3px;
          }
          margin-left:-1px;
        }
      }
    }
  }
}
