header.whiteHeader {
  height: 128px;
  position: relative;
  .top {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    h1 {
      font-size: 22px;
      top: 32px;
      border-bottom: 1px solid #444444;
      padding-bottom: 6px;
    }
    h2 {
      font-size: 18px;
      top: 73px;
    }
    h1, h2 {
      color: #eee;
      position: absolute;
      margin: 0;
      left: 118px;
      right: 20px;
    }
    .wave {
      position: absolute;
      right: 20px;
      top: 75px;
      a {
        display:inline-block;
        margin-left:10px;
        font-size: 14px;
        i {
          margin-left:5px;
        }
      }
    }
    menu {
      position: absolute;
      left: 118px;
      padding: 0;
      margin: 0;
      top: 75px;
      a {
        color: @baseColor;
        font-size: 14px;
        display: inline-block;
        margin-right: 10px;
        text-decoration: none;
        border-bottom: 1px solid;
        transition: @fastTime;
        &:hover {
          border-color: transparent;
        }
        &.active, &.active:hover {
          color: #fff;
          border-bottom: none;
          cursor: default;
        }
      }
    }
    .image {
      position: absolute;
      width: 88px;
      height: 88px;
      left: 20px;
      top: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
    }
  }
}
