<div class="track" data-drag="true" data-jqyoui-options="{revert: true}" jqyoui-draggable="{onStart: 'tctr.onStart', onStop: 'tctr.onStop'}" ng-model="info">
  <span class="play">
   	<i class="fa fa-play"></i> 
  </span>
  <span class="time">{{info.duration | toGIS}}</span>
  <span class="bitrate" ng-show="bitrate">{{bitrate | formatBitrate}}</span>
  <span class="text">
    <span class="artist">{{info.artist}}</span>
    &nbsp;–&nbsp;
    <span class="title">{{info.title}}</span>
  </span>
</div>
