#view-artists-page {
  .whiteHeader {
    .tags {
      float: right;
      display: block;
      margin-top: -8px;
      .tag {
        font-size: 10px;
        text-decoration: none;
        border-bottom: 1px solid;
        transition: @fastTime;
        display: inline-block;
        margin-left: 10px;
        &:hover {
          border-color: transparent;
        }
      }
    }
    h1 {
      right: 121px;
    }
    .play {
      width: 88px;
      height: 88px;
      border-radius: 5px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
      background: #fff;
      display: block;
      position: absolute;
      right: 16px;
      transition: @fastTime;
      top: 16px;
      color: #555;
      .fa {
        font-size: 38px;
        line-height: 28px;
        height: 28px;
        display: block;
        border: none;
        text-align: center;
        margin: 20px 0 0;
        transition: @fastTime;
        -webkit-transform: scale(0.8);
        margin-left: 5px;
      }
      &:hover {
        background: #eee;
        color: #111;
        text-decoration: none;
        .fa {
          margin-top: 31px;
          -webkit-transform: scale(1);
        }
        span {
          bottom: 0px;
          opacity: 0;
          visibility: hidden;
        }
      }
      span {
        position: absolute;
        left: 0;
        right: 0;
        font-size: 10px;
        color: #666;
        text-align: center;
        bottom: 15px;
        transition: @fastTime;
      }
    }
  }
  .publics {
    overflow: auto;
    padding: 3px 16px;
    .public {
      float: left;
      margin-right: 20px;
      .image {
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        float: left;
      }
      .info {
        float: left;
        margin-left: 10px;
        padding-top:7px;
        .name {
          font-size: 14px;
          max-width: 236px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block;
        }
        .members {
          display: block;
          color: #666;
          font-size:10px;
        }
      }
    }
  }
  .albums .item {
    float: left;
    display: block;
    margin: 16px 0 0 16px;
    width: 265px;
    height: 265px;
    position: relative;
    overflow: hidden;
    .img {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .overlay {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      background-color: rgba(255, 255, 255, 0.9);
      color: #464646;
      font-size: 12px;
      padding: 5px 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .bigAlbumInfo h1 {
      font-size: 26px;
      margin: 10px;
    }
  }
}
