.navigation {
  width: 60px;
  position:fixed;
  left:0;
  top:0;
  bottom:0;
  background-color: #000;
  box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
  border-right:1px solid #222;
  z-index: 100;
  menu {
    margin: 0;
    padding: 0;
    float: left;
    height: 100%;
    a {
      float: left;
      height: 60px;;
      padding: 0 0px;
      line-height: 60px;
      transition: @fastTime;
      font-size: 10px;
      color: #bbb;
      text-decoration: none;
      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
        color: #eee;
        box-shadow: inset 0px -1px 3px rgba(0, 0, 0, 0.1);
      }
      &:active, &.active, &.active:hover {
        background-color: rgba(0, 0, 0, 0.2);
        color: #fff;
        box-shadow: inset 0px -1px 3px rgba(0, 0, 0, 0.2);
      }
    }
  }
  form {
    float: right;
    input[type="text"] {
      float: right;
      margin: 16px 20px 0;
      background-color: #333;
    }
  }
}