.layout > header {
  height: 60px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
  menu {
    margin: 0;
    padding: 0;
    float: left;
    height: 100%;
    a {
      float: left;
      height: 100%;
      padding: 0 20px;
      line-height: 60px;
      transition: @fastTime;
      font-size: 13px;
      color: #bbb;
      text-decoration: none;
      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
        color: #eee;
        box-shadow: inset 0px -1px 3px rgba(0, 0, 0, 0.1);
      }
      &:active, &.active, &.active:hover {
        background-color: rgba(0, 0, 0, 0.2);
        color: #fff;
        box-shadow: inset 0px -1px 3px rgba(0, 0, 0, 0.2);
      }
    }
  }
  form {
    float: right;
    input[type="text"] {
      float: right;
      margin: 16px 20px 0;
      background-color: #333;
    }
  }
}