@baseColor: #1E8FDB;
@fastTime: 0.2s;
@stdTime: 0.4s;

@grayColor: #999;

@import url('controls.less');
@import url('controlPanel.less');
@import url('leftPanel.less');

@import url('common.less');

@import url('elements/list.less');
@import url('elements/artistGrid.less');
@import url('elements/view.less');
@import url('elements/loader.less');
 
@import url('views/artists/page.less');
@import url('views/discover/index.less');
@import url('views/playlists/index.less');
@import url('views/share/index.less');

@import url('directives/minutesScaler.less');
@import url('directives/albumImage.less');
@import url('directives/track.less');
 
@import url('header.less');  
@import url('intro.less');   