.minutesScaler {
  position: absolute;
  top:1px;
  bottom: 1px;
  z-index: 2;
  left: 0;
  right: 0;
  .scale {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #bbb;
  }
}
