.minutesScaler {
  position: absolute;
  top: 1px;
  bottom: 1px;
  z-index: 2;
  left: 0;
  right: 0;
  .scale {
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 1px;
    background-color: rgba(155, 155, 155, 0.5);
  }
}
