.track {
  height: 30px;
  padding: 7px 15px;
  font-size: 12px;
  .play {
    display: none;
    float: left;
    margin-top: 7px;
    color: #555;
    &:hover {
      color: #222;
    }
    ;
  }
  .time {
    float: right;
    margin: 0px 0 0 10px;
  }
  .bitrate {
    float: right;
  }
  .text {
    margin:0px 45px 0 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    display: block;
    .artist {
      font-weight: bold;
    }
    .title {}
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
  }
  &.active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
  }
}
