.track {
  height: 38px;
  padding:0 16px;
  .play {
    float: left;
    margin-top:10px;
    color:#555;
    &:hover{
      color:#222;
    };
  }
  .time {
    float: right;
    margin: 10px 0px;
  }
  .bitrate {
    float: right;
  }
  .text {
    float: left;
    margin:10px;
    .artist {
    font-weight:bold;
    } .title {}
  }
  &:hover{
    background: rgba(255,255,255,0.3);
    cursor:pointer;
  }
}
