<section class="view view-fullsize view-padding column">
  <h2>Популярные исполнители</h2>  
  <section class="list list-gray artistGrid clearfix">
    <a class="item" href="/artists/{{item.name}}/" ng-repeat="item in ctr.artists">
      <div class="image" style="background-image: url(../images/tmp/artist.jpg)"></div>
      <footer>
        <h3 ng-bind="item.name"></h3>
        <span class="gray">Сейчас 3892 слушателя
          <span ng-bind="item.listeners"></span>
        </span>
      </footer>
    </a>
  </section>
</section>
 