<section id="view-artists-page" class="view view-fullsize" ng-if="ctr.artistInfo">
  <header class="whiteHeader">
    <div class="fullsizeImage" ng-style="{'background-image':'url('+ctr.artistInfo.image+')'}"></div>
    <div class="top">
      <h4>исполнитель</h4>
      <h1>
        <span ng-bind="ctr.artistInfo.name"></span>
      </h1>
      <menu>
        <a ng-href="/artists/{{ctr.artistInfo.name}}/tracks/" ng-class="{'active':ctr.section === 'tracks'}">Композиции</a>
        <a ng-href="/artists/{{ctr.artistInfo.name}}/albums/" ng-class="{'active':ctr.section === 'albums'}" ng-show="ctr.albums.length">Альбомы</a>
        <!--<a href="/artists/{{ctr.artistInfo.name}}/videos/" ng-class="{'active':ctr.section === 'videos'}">Видео</a>-->
        <a ng-href="/artists/{{ctr.artistInfo.name}}/similar/" ng-class="{'active':ctr.section === 'similar'}">Похожее</a>
      </menu>

      <span class="tags">
        <a class="tag" ng-href="/wave/?tag={{tag.name}}" ng-repeat="tag in ctr.artistInfo.tags | limitTo:3">
          <i class="fa fa-tag"></i>
          <span>{{tag.name}}</span>
        </a>
      </span>

      <h3>
        <span ng-click="ctr.loadWave(ctr.artistInfo.name)"><a class="link">Волна <span ng-bind="ctr.artistInfo.name"></span></a>
        </span>
      </h3>
      <div class="image" ng-style="{'background-image':'url('+ctr.artistInfo.image+')'}"></div>
    </div>
  </header>


  <section ng-if="!ctr.section">
    <div class="column" ng-show="ctr.searchTracks.length">
      <div class="inner">
        <h2><a class="link" ng-href="/artists/{{ctr.artistInfo.name}}/tracks/">Треки</a>
        </h2>
      </div>
      <div class="albums list list-gray">
        <div ng-repeat="song in ctr.searchTracks" track info="song"></div>
      </div>
    </div>

    <div class="column" ng-show="ctr.publics.length">
      <div class="inner">
        <h2>Паблики <i class="fa fa-info-circle" tooltip-html-unsafe="умное описание" tooltip-trigger="mouseenter"></i>
        </h2>
      </div>
      <div class="publics">
        <div class="public" ng-repeat="public in ctr.publics">
          <a href="/public/{{public.id}}/">
            <div class="image" ng-style="{'background-image':'url('+public.photo_100+')'}"></div>
          </a>
          <div class="info">
            <a href="/public/{{public.id}}/" class="name" ng-bind="public.name"></a>
            <span class="members">
              <a class="link no-border" href="/public/{{public.id}}/">
                <strong ng-bind="public.members_count"></strong>&nbsp;подписчиков</a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!--
    <div class="column" ng-show="ctr.albums.length">
      <div class="inner">
        <h2><a class="link" ng-href="/artists/{{ctr.artistInfo.name}}/albums/">Альбомы</a>
        </h2>
      </div>
      <div class="albums clearfix">
        <div class="item" album-image ng-repeat="item in ctr.albums" info="item"></div>
      </div>
    </div>
    -->

    <div class="column">
      <div class="inner">
        <h2><a class="link" ng-href="/artists/{{ctr.artistInfo.name}}/similar/">Похожее</a>
        </h2>
      </div>

    </div>
  </section>

  <section ng-if="ctr.section === 'tracks'">
    <div class="column">
      <div class="inner">
        <h2>Треки</h2>
      </div>
      <div class="albums list list-gray">
        <div ng-repeat="song in ctr.searchTracks" track info="song"></div>
      </div>
    </div>
  </section>
  <!--
  <section ng-if="ctr.section === 'albums'">
    <div class="column">
      <div class="inner">
        <h2>Альбомы</h2>
      </div>
      <div class="albums clearfix">
        <div class="item" album-image ng-repeat="item in ctr.albums" info="item"></div>
      </div>
    </div>
  </section>
  -->
  <section ng-if="ctr.section === 'similar'">
    <div class="column">
      <div class="inner">
        <h2>Тэги исполнителя</h2>
        <section class="clearfix realTags">
          <a class="tag btn btn-primary white" href="/wave/?tag={{tag.name}}" ng-repeat="tag in ctr.artistInfo.tags | limitTo:15">
            <i class="fa fa-tag"></i>
            <span>{{tag.name}}</span>
          </a>
        </section>
      </div>
    </div>
    <div class="column">
      <div class="inner">
        <h2>Похожие исполнители</h2>
        <section class="list list-gray artistGrid clearfix">
          <a class="item" href="/artists/{{item.name}}/" ng-repeat="item in ctr.similarArtists | withoutStatsCleaning">
            <div class="image" style="background-image: url({{item.imageSrc}})"></div>
            <footer>
              <h3 ng-bind="item.name"></h3>
            </footer>
          </a>
        </section>
      </div>
    </div>
  </section>

</section>
