<section id="view-artists-page" class="view view-fullsize" ng-if="ctr.artistInfo">
  <header>
    <div class="fullsizeImage" thief-background="ctr.artistInfo.image"></div>
    <div class="top">
      <h1 ng-bind="ctr.artistInfo.name"></h1>
      <div class="tags">
        <a class="tag btn btn-default" href="/flow/?tag={{tag.name}}" ng-repeat="tag in ctr.artistInfo.tags">
          <i class="fa fa-tag"></i>
          <span>{{tag.name}}</span>
        </a>
      </div>
      <a class="play" href="/flow/?artist={{ctr.artistInfo.name}}">
        <i class="fa fa-play"></i>
      </a>
      <div class="image" ng-style="{'background-image':'url('+ctr.artistInfo.image+')'}"></div>
    </div>
  </header>



  <div ng-show="ctr.searchTracks.length">
    <div class="inner">
      <h2>Треки</h2>
    </div>
    <div class="albums list list-gray">
      <div ng-repeat="song in ctr.searchTracks" track info="song"></div>
    </div>
  </div>

  <div ng-show="ctr.albums.length">
    <div class="inner">
      <h2>Альбомы</h2>
    </div>
    <div class="albums list list-gray">
      <div class="item" album-image ng-repeat="item in ctr.albums" info="item"></div>
    </div>
  </div>
</section>
