input[type="text"] {
  border-radius: 1px;
  background-color: #222;
  color: #eee;
  box-shadow: 0 3px 1px -3px rgba(0, 0, 0, 0.2), 0 0px 50px 10px rgba(240, 168, 36, 0);
  border: none;
  outline: none;
  line-height: 19px;
  font-size: 14px;
  padding: 4px 10px;
  transition: 0.4s;
}
input[type="text"]:focus {
  box-shadow: 0 3px 1px -3px rgba(0, 0, 0, 0.2), 0 0px 3px 1px #f0a824;
}
.btn {
  border-radius: 2px;
  border: none;
  outline: none;
  line-height: 14px;
  font-size: 14px;
  padding: 4px 10px;
}
.btn:active {
  background-color: #eee;
  box-shadow: inset 0 6px 0px -5px rgba(255, 255, 255, 0.7), 0 3px 1px -3px rgba(0, 0, 0, 0.2);
}
.btn.btn-default {
  background-color: #F2F2F2;
  box-shadow: 0 3px 1px -3px rgba(0, 0, 0, 0.9), 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.btn.btn-primary {
  border: 2px solid;
  background: transparent;
}
.btn.white {
  color: #ccc;
}
.controlPanel {
  position: relative;
  height: 120px;
  background: rgba(255, 255, 255, 0.8);
}
.controlPanel .fake {
  height: 2px;
  margin-top: 3px;
  background: #ddd;
  position: relative;
}
.controlPanel .fake .progress {
  width: 0%;
  background: #000;
  height: 100%;
  border-radius: 0px;
  transition: 0.2s;
  position: absolute;
  left: 0;
  top: 0;
}
.controlPanel .fake .download {
  height: 100%;
  background: #BEBEBE;
}
.controlPanel .progressPanel {
  position: absolute;
  bottom: 6px;
  width: 228px;
  left: 10px;
  height: 8px;
  transition: 0.2s;
  cursor: pointer;
}
.controlPanel .progressPanel .times .current,
.controlPanel .progressPanel .times .total {
  position: absolute;
  top: -1px;
  font-size: 11px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.controlPanel .progressPanel .times .current {
  left: -30px;
}
.controlPanel .progressPanel .times .total {
  right: -30px;
}
.controlPanel .buttons {
  position: absolute;
  left: 0px;
  top: 51px;
  right: 0px;
  text-align: center;
}
.controlPanel .buttons .btn {
  opacity: 0.4;
  box-shadow: 0 0 0 2px #333;
  border-radius: 50%;
  background: transparent;
  line-height: 24px;
  outline: none;
  padding: 0 8px;
  transition: 0.2s;
}
.controlPanel .buttons .btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
.controlPanel .buttons .btn:active {
  opacity: 1;
}
.controlPanel .buttons .btn i {
  color: #444;
}
.controlPanel .buttons .btn.next,
.controlPanel .buttons .btn.prev {
  width: 24px;
  height: 24px;
}
.controlPanel .buttons .btn.next i,
.controlPanel .buttons .btn.prev i {
  font-size: 13px;
  line-height: 23px;
}
.controlPanel .buttons .btn.next {
  padding-left: 8px;
}
.controlPanel .buttons .btn.prev {
  padding-left: 4px;
}
.controlPanel .buttons .btn.play {
  padding-right: 4px;
}
.controlPanel .buttons .btn.play i {
  line-height: 38px;
}
.controlPanel .buttons .btn.pause {
  padding-left: 9px;
}
.controlPanel .buttons .btn.pause i {
  line-height: 38px;
}
.controlPanel .buttons .btn.play,
.controlPanel .buttons .btn.pause {
  width: 36px;
  height: 36px;
  margin: 0px 5px;
}
.controlPanel .buttons .btn.play i,
.controlPanel .buttons .btn.pause i {
  font-size: 16px;
}
.controlPanel .trackInfo {
  font-size: 12px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 15px;
  right: 10px;
  left: 10px;
}
.controlPanel .trackInfo .artist {
  font-weight: bold;
}
.leftPanel {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 50%;
  margin-left: -620px;
  width: 360px;
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.3);
}
.leftPanel .playlistFull .playlistsContainer {
  height: 100px;
  background: #eee;
}
.removeField {
  background: -moz-linear-gradient(left, rgba(109, 0, 25, 0.05) 0%, rgba(255, 5, 5, 0.36) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(109, 0, 25, 0.05)), color-stop(100%, rgba(255, 5, 5, 0.36)));
  background: -webkit-linear-gradient(left, rgba(109, 0, 25, 0.05) 0%, rgba(255, 5, 5, 0.36) 100%);
  background: -o-linear-gradient(left, rgba(109, 0, 25, 0.05) 0%, rgba(255, 5, 5, 0.36) 100%);
  background: -ms-linear-gradient(left, rgba(109, 0, 25, 0.05) 0%, rgba(255, 5, 5, 0.36) 100%);
  background: linear-gradient(to right, rgba(109, 0, 25, 0.05) 0%, rgba(255, 5, 5, 0.36) 100%);
  position: fixed;
  right: 50%;
  margin-right: 620px;
  top: 0px;
  bottom: 0px;
  min-width: 400px;
}
.removeField:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset -13px 0px 19px -8px rgba(255, 1, 1, 0.8);
}
* {
  font-family: 'Open Sans';
}
html,
body {
  height: 100%;
  min-height: 100%;
}
body {
  font: 13px Arial, Helvetica, sans-serif;
  background: fixed #111111 url(../images/background/intro.jpg) center no-repeat;
  font-weight: 300;
}
body .mainLoader {
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  z-index: 11111;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10000;
  bottom: 20px;
  left: 50%;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 20px;
  width: 69px;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.3), 0px -1px 1px -1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 67px;
  margin-left: -34px;
}
body[data-status="loading"] .mainLoader {
  opacity: 1;
  visibility: visible;
}
a {
  color: #f0a824;
}
a:hover {
  color: #f90;
}
.gray {
  color: #999999;
}
.link {
  text-decoration: none;
  border-bottom: 1px solid;
  transition: 0.2s;
}
.link:hover {
  text-decoration: none;
  border-color: transparent;
}
.link.no-border {
  border-color: transparent;
}
.content {
  width: 1240px;
  margin: auto;
  min-height: 100%;
}
.layout {
  width: 860px;
  margin: 0px 0 0px 380px;
  min-height: 100%;
}
.panel {
  margin-bottom: 0;
  background: transparent;
}
.column {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
  margin: 15px 0;
  padding: 10px 0 20px;
  color: #bbb;
}
.column .inner {
  padding: 10px 20px!important;
}
.column h2 {
  font-size: 24px;
  margin: 0px;
}
.flowOverlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.4s;
  z-index: 50;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  visibility: hidden;
  background: #333333 url(../images/repeated/flow.jpg) center repeat;
}
.modal-content {
  background: rgba(0, 0, 0, 0.7);
  color: #ddd;
}
.list .item {
  border-radius: 1px;
  background-color: #fff;
  color: #222;
  box-shadow: 0 3px 1px -3px rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  font-size: 14px;
  transition: 0.2s;
  display: inline-block;
}
.list.list-gray .item {
  background-color: #f9f9f9;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.list.list-gray .item:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}
.artistGrid {
  margin: 0 -20px;
}
.artistGrid .item {
  float: left;
  margin: 20px 0 0 20px;
  width: 259px;
  height: 287px;
  position: relative;
  overflow: hidden;
}
.artistGrid .item .image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.artistGrid .item footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
}
.artistGrid .item footer h3 {
  margin: 0;
  font-size: 20px;
  color: #eee;
  font-weight: normal;
}
.artistGrid .item footer .gray {
  font-size: 12px;
  color: #999;
}
.view.view-fullsize {
  width: 100%;
}
.view .inner,
.view.view-padding {
  padding: 20px;
}
header.whiteHeader {
  height: 128px;
  position: relative;
}
header.whiteHeader .top {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
header.whiteHeader .top h1 {
  font-size: 22px;
  top: 32px;
  border-bottom: 1px solid #bebebe;
  padding-bottom: 6px;
}
header.whiteHeader .top h2 {
  font-size: 18px;
  top: 73px;
}
header.whiteHeader .top h1,
header.whiteHeader .top h2 {
  color: #eee;
  position: absolute;
  margin: 0;
  left: 118px;
  right: 20px;
}
header.whiteHeader .top menu {
  position: absolute;
  left: 118px;
  padding: 0;
  margin: 0;
  top: 70px;
}
header.whiteHeader .top menu a {
  color: #f0a824;
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  border-bottom: 1px solid;
  transition: 0.2s;
}
header.whiteHeader .top menu a:hover {
  border-color: transparent;
}
header.whiteHeader .top menu a.active,
header.whiteHeader .top menu a.active:hover {
  color: #333;
  border-bottom: none;
  cursor: default;
}
header.whiteHeader .top .image {
  position: absolute;
  width: 88px;
  height: 88px;
  left: 20px;
  top: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
#view-album .gray {
  font-size: 12px;
  float: right;
  margin: 6px 0 0;
  display: block;
}
#view-artists-page .whiteHeader {
  height: 250px;
  padding: 0;
}
#view-artists-page .whiteHeader .fullsizeImage {
  height: 100%;
  z-index: 1;
  width: 100%;
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
}
#view-artists-page .whiteHeader .fullsizeImage:after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  background: url(../images/overlay.png) center repeat;
}
#view-artists-page .whiteHeader .tags {
  position: absolute;
  display: block;
  bottom: 16px;
  right: 16px;
}
#view-artists-page .whiteHeader .tags .tag {
  font-size: 10px;
  text-decoration: none;
  border-bottom: 1px solid;
  transition: 0.2s;
  display: inline-block;
  margin-left: 10px;
}
#view-artists-page .whiteHeader .tags .tag:hover {
  border-color: transparent;
}
#view-artists-page .whiteHeader h1 {
  right: 132px;
  bottom: 40px;
  left: 20px;
  font-size: 27px;
  padding-bottom: 6px;
  border: none;
  top: auto;
}
#view-artists-page .whiteHeader menu {
  left: 20px;
  bottom: 16px;
  right: 132px;
  top: auto;
}
#view-artists-page .whiteHeader menu a {
  font-size: 14px;
}
#view-artists-page .whiteHeader menu a.active {
  color: #fff;
}
#view-artists-page .whiteHeader .image {
  width: 100px;
  height: 100px;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.7);
}
#view-artists-page .whiteHeader .play {
  width: 88px;
  height: 88px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  background: #fff;
  display: none;
  position: absolute;
  right: 20px;
  transition: 0.2s;
  top: 20px;
  color: #555;
}
#view-artists-page .whiteHeader .play .fa {
  font-size: 38px;
  line-height: 28px;
  height: 28px;
  display: block;
  border: none;
  text-align: center;
  margin: 20px 0 0;
  transition: 0.2s;
  -webkit-transform: scale(0.8);
  margin-left: 5px;
}
#view-artists-page .whiteHeader .play:hover {
  background: #eee;
  color: #111;
  text-decoration: none;
}
#view-artists-page .whiteHeader .play:hover .fa {
  margin-top: 31px;
  -webkit-transform: scale(1);
}
#view-artists-page .whiteHeader .play:hover span {
  bottom: 0px;
  opacity: 0;
  visibility: hidden;
}
#view-artists-page .whiteHeader .play span {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 10px;
  color: #666;
  text-align: center;
  bottom: 15px;
  transition: 0.2s;
}
#view-artists-page .publics {
  overflow: auto;
  padding: 3px 20px;
}
#view-artists-page .publics .public {
  float: left;
  margin-right: 20px;
}
#view-artists-page .publics .public .image {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
}
#view-artists-page .publics .public .info {
  float: left;
  margin-left: 10px;
  padding-top: 7px;
}
#view-artists-page .publics .public .info .name {
  font-size: 14px;
  max-width: 236px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
#view-artists-page .publics .public .info .members {
  display: block;
  color: #666;
  font-size: 10px;
}
#view-artists-page .albums .item {
  float: left;
  display: block;
  margin: 20px 0 0 20px;
  width: 265px;
  height: 265px;
  position: relative;
  overflow: hidden;
}
#view-artists-page .albums .item .img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#view-artists-page .albums .item .overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.9);
  color: #464646;
  font-size: 12px;
  padding: 5px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#view-artists-page .albums .item .bigAlbumInfo h1 {
  font-size: 26px;
  margin: 10px;
}
#view-artists-page .realTags {
  padding-top: 13px;
  margin-bottom: -9px;
}
#view-artists-page .realTags .tag {
  display: inline-block;
  margin: 0 7px 7px 0;
}
#view_public .verified {
  color: #777;
  display: block;
  font-size: 10px;
  float: right;
  margin-top: 9px;
}
#view_public .verified .fa {
  font-size: 15px;
}
#view_public .description {
  padding: 0 20px;
  max-height: 111px;
  overflow: hidden;
}
#view_public .short {
  margin-right: 250px;
  position: relative;
}
#view_public .short .text {
  max-width: 511px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#view_public .short .albums {
  position: absolute;
  left: 100%;
  width: 250px;
  margin-top: 20px;
}
#view_public .short .albums .album {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 4px;
  display: block;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
}
#view_public .short .albums .album.active {
  background: #ffffff;
  color: #333;
}
#view_share {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #333;
}
#view-flow {
  position: fixed;
  z-index: 60;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: #ddd;
  background: #333333 url(../images/repeated/flow.jpg) center repeat;
}
#view-flow .fullsizeImage {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
}
#view-flow .fullsizeImage.active {
  opacity: 1;
  visibility: visible;
}
#view-flow .fullsizeImage:after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  background: url(../images/overlay_b.png) center repeat;
}
#view-flow .container {
  width: 1240px;
  margin: auto;
  position: relative;
  z-index: 2;
}
#view-flow .container h2 {
  position: absolute;
  left: 50%;
  margin-left: -600px;
  font-size: 13px;
  top: 4px;
  z-index: 80;
}
#view-flow .container .paddingLoader {
  text-align: center;
  width: 100%;
  height: 130px;
  position: relative;
}
#view-flow .container .paddingLoader .lineLoader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -5px 0 0 -40px;
}
#view-flow .container .paddingLoader .lineLoader .lineLoaderPoint {
  width: 10px;
  height: 10px;
  border-radius: 110px 10px;
  margin: 0 3px;
  opacity: 0.3;
}
.flowBody .layout > header {
  z-index: 70;
  position: fixed;
  width: 860px;
  background: transparent;
  box-shadow: none;
}
.flowBody .leftPanel {
  z-index: 70;
  left: 50%;
  width: 1000px;
  margin-left: -500px;
  top: 60px;
  box-shadow: none;
  color: #ddd;
  position: absolute;
  bottom: 60px;
}
.flowBody .leftPanel > .playlistFull {
  display: none;
}
.flowBody .leftPanel .controlPanel {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  height: auto;
  background: transparent;
}
.flowBody .leftPanel .controlPanel .trackInfo {
  text-shadow: 0px 0px 3px #222;
  font-weight: 300;
  top: 50%;
  margin-top: -156px;
}
.flowBody .leftPanel .controlPanel .trackInfo .separator {
  display: none;
}
.flowBody .leftPanel .controlPanel .trackInfo .artist {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 4px;
}
.flowBody .leftPanel .controlPanel .trackInfo .title {
  font-size: 37px;
}
.flowBody .leftPanel .controlPanel .buttons {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -20px;
}
.flowBody .leftPanel .controlPanel .buttons .btn {
  opacity: 1;
  box-shadow: none;
  width: auto;
  height: auto;
}
.flowBody .leftPanel .controlPanel .buttons .btn i {
  color: #ddd;
  font-size: 22px;
}
.flowBody .leftPanel .controlPanel .buttons .btn:hover i {
  color: #fff;
}
.flowBody .leftPanel .controlPanel .buttons .btn.play,
.flowBody .leftPanel .controlPanel .buttons .btn.pause {
  margin: 0 10px;
  width: 50px;
}
.flowBody .leftPanel .controlPanel .buttons .btn.play i,
.flowBody .leftPanel .controlPanel .buttons .btn.pause i {
  font-size: 38px;
}
.flowBody .leftPanel .controlPanel .fake {
  height: 3px;
  margin-top: 3px;
  background: rgba(255, 255, 255, 0.2);
}
.flowBody .leftPanel .controlPanel .fake .progress {
  background: rgba(255, 255, 255, 0.9);
}
.flowBody .leftPanel .controlPanel .fake .download {
  background: rgba(255, 255, 255, 0.2);
}
.flowBody .leftPanel .controlPanel .volumePanel {
  top: auto;
  bottom: 0px;
  width: 100px;
  right: 80px;
  height: 9px;
  position: absolute;
}
.flowBody .leftPanel .controlPanel .volumePanel .current {
  position: absolute;
  right: 0px;
  color: #888;
  font-size: 11px;
  top: -16px;
}
.flowBody .leftPanel .controlPanel .progressPanel {
  top: auto;
  bottom: 0px;
  left: 0px;
  right: 200px;
  width: auto;
  height: 9px;
}
.flowBody .leftPanel .controlPanel .progressPanel .times .total,
.flowBody .leftPanel .controlPanel .progressPanel .times .current {
  opacity: 1;
  visibility: visible;
  top: -16px;
  color: #888;
}
.flowBody .leftPanel .controlPanel .progressPanel .times .total {
  right: 0px;
}
.flowBody .leftPanel .controlPanel .progressPanel .times .current {
  left: 0px;
}
.flowBody .leftPanel .controlPanel .progressPanel .minutesScaler .scale {
  top: 2px;
  bottom: 2px;
  background: #A8A8A8;
}
.minutesScaler {
  position: absolute;
  top: 1px;
  bottom: 1px;
  z-index: 2;
  left: 0;
  right: 0;
}
.minutesScaler .scale {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #bbb;
}
.track {
  height: 30px;
  padding: 0 20px;
  font-size: 12px;
}
.track .play {
  float: left;
  margin-top: 7px;
  color: #555;
}
.track .play:hover {
  color: #222;
}
.track .time {
  float: right;
  margin: 7px 0 0 10px;
}
.track .bitrate {
  float: right;
}
.track .text {
  float: left;
  margin: 7px 0 0 10px;
}
.track .text .artist {
  font-weight: bold;
}
.track:hover {
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.track.active {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.lineLoaderPoint {
  background-color: rgba(255, 255, 255, 0);
  float: left;
  height: 6px;
  margin-left: 3px;
  width: 6px;
  -moz-animation-name: bounce_circleG;
  -moz-animation-duration: 0.8999999999999999s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -moz-border-radius: 4px;
  -webkit-animation-name: bounce_circleG;
  -webkit-animation-duration: 0.8999999999999999s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -webkit-border-radius: 4px;
  -ms-animation-name: bounce_circleG;
  -ms-animation-duration: 0.8999999999999999s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -ms-border-radius: 4px;
  -o-animation-name: bounce_circleG;
  -o-animation-duration: 0.8999999999999999s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  -o-border-radius: 4px;
  animation-name: bounce_circleG;
  animation-duration: 0.8999999999999999s;
  animation-iteration-count: infinite;
  animation-direction: linear;
  border-radius: 4px;
}
.lineLoaderPoint_1 {
  -moz-animation-delay: 0.18s;
  -webkit-animation-delay: 0.18s;
  -ms-animation-delay: 0.18s;
  -o-animation-delay: 0.18s;
  animation-delay: 0.18s;
}
.lineLoaderPoint_2 {
  -moz-animation-delay: 0.42000000000000004s;
  -webkit-animation-delay: 0.42000000000000004s;
  -ms-animation-delay: 0.42000000000000004s;
  -o-animation-delay: 0.42000000000000004s;
  animation-delay: 0.42000000000000004s;
}
.lineLoaderPoint_3 {
  -moz-animation-delay: 0.5399999999999999s;
  -webkit-animation-delay: 0.5399999999999999s;
  -ms-animation-delay: 0.5399999999999999s;
  -o-animation-delay: 0.5399999999999999s;
  animation-delay: 0.5399999999999999s;
}
@-moz-keyframes bounce_circleG {
  50% {
    background-color: #000000;
  }
}
@-webkit-keyframes bounce_circleG {
  50% {
    background-color: #000000;
  }
}
@-ms-keyframes bounce_circleG {
  50% {
    background-color: #000000;
  }
}
@-o-keyframes bounce_circleG {
  50% {
    background-color: #000000;
  }
}
@keyframes bounce_circleG {
  50% {
    background-color: #000000;
  }
}
.layout > header {
  height: 60px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
}
.layout > header menu {
  margin: 0;
  padding: 0;
  float: left;
  height: 100%;
}
.layout > header menu a {
  float: left;
  height: 100%;
  padding: 0 20px;
  line-height: 60px;
  transition: 0.2s;
  font-size: 13px;
  color: #bbb;
  text-decoration: none;
}
.layout > header menu a:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  color: #eee;
  box-shadow: inset 0px -1px 3px rgba(0, 0, 0, 0.1);
}
.layout > header menu a:active,
.layout > header menu a.active,
.layout > header menu a.active:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  box-shadow: inset 0px -1px 3px rgba(0, 0, 0, 0.2);
}
.layout > header form {
  float: right;
}
.layout > header form input[type="text"] {
  float: right;
  margin: 16px 20px 0;
  background-color: #333;
}
.intro {
  position: fixed;
  z-index: 100000;
  background: #222;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  visibility: visible;
}
.intro.hider {
  /*-webkit-transform: scale(3);*/
  opacity: 0;
  visibility: hidden;
}
.intro .image {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
  background-position: center;
  background-repeat: repeat;
}
.intro .image.active {
  visibility: visible;
  opacity: 1;
}
.intro .top {
  z-index: 2;
  position: absolute;
  color: #ccc;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.intro .top .wrap {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
  margin-top: -70px;
}
.intro .top .wrap h1 {
  font-size: 40px;
  margin-bottom: -15px;
}
.intro .top .wrap h2 {
  font-size: 16px;
}
.intro .top .wrap h3 {
  font-size: 14px;
  margin-top: 40px;
  transition: 0.6s;
  opacity: 0;
  visibility: hidden;
}
.intro .top .wrap h3.active {
  margin-top: 10px;
  opacity: 1;
  visibility: visible;
}
.intro .top .wrap h3 span {
  color: #fff;
}
.intro .top .wrap .btn {
  background: rgba(255, 255, 255, 0.2);
  color: #eee;
  border: 3px solid #eee;
  transition: 0.2s;
  padding: 8px 30px;
  outline: none;
  box-shadow: none;
}
.intro .top .wrap .btn:hover {
  background: rgba(255, 255, 255, 0.35);
  border-color: #fff;
}
.intro .top .wrap .btn:active {
  background: rgba(255, 255, 255, 0.5);
}
